/* font imports */
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

@font-face {
  font-family: 'HamIsCute';
  src: url('/fonts/HamIsCute.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}